$focus-bg-color: white;
$focus-fg-color: black;
$link-color: #aab1b8;
$button-border: white;
$sec-color: #69737C;
$font-stack: 'Open Sans', sans-serif;
$base-bg-color: #374550;
$base-fg-color: white;
