.form-label {
	display:block;
	font-size: 1.2em;
}
.form-element {
	width:100%;
	background-color:$sec-color;
	color:white;
}
.form-input {
	height: 30px;
}
.form-heading {
	font-size: 1.5em;
	font-weight:bold;
}
